<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#  website: http://ogp.me/ns/website#">
  <title>tweet markdown</title>
  <meta name="description" content="tweet markdown as image directly and easily.">
  <meta name="keywords" content="twitter,markdown,image,jpeg,jpg,png">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:title" content="tweet markdown" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://tweet-markdown.herokuapp.com/" />
  <meta property="og:image" content="https://res.cloudinary.com/dqpzwjkhk/image/upload/v1494063422/tweet-markdown-og3_tmbbwe.png" />
  <meta property="og:site_name" content="tweet markdown" />
  <meta property="og:description" content="tweet markdown as image directly and easily." />

  <!-- Facebook -->
  <meta property="fb:app_id" content="711530995693007" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="tweet markdown" />
  <meta name="twitter:description" content="tweet markdown as image directly and easily.">
  <meta name="twitter:site" content="@y_tsubuku">
  <meta name="twitter:creator" content="@y_tsubuku">

  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100" rel="stylesheet">
  <link rel="shortcut icon" href="https://res.cloudinary.com/dqpzwjkhk/image/upload/v1494051947/logo-markdown_joburi.ico">
  <!-- iOS Safari -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dqpzwjkhk/image/upload/v1494052441/logo-180_rwrhc3.png">
  <!-- iOS Safari(旧) / Android標準ブラウザ(一部) -->
  <link rel="apple-touch-icon-precomposed" href="https://res.cloudinary.com/dqpzwjkhk/image/upload/v1494052441/logo-180_rwrhc3.png">
  <!-- Android標準ブラウザ(一部) -->
  <link rel="shortcut icon" href="https://res.cloudinary.com/dqpzwjkhk/image/upload/v1494052441/logo-180_rwrhc3.png">
  <!-- Android Chrome -->
  <link rel="icon" sizes="192x192" href="https://res.cloudinary.com/dqpzwjkhk/image/upload/v1494052441/logo-180_rwrhc3.png">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'mdb.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'github-markdown.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand future-color" href="/">
      <strong>tweet markdown</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link future-color" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheatsheet</a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/y_tsubuku" class=" nav-link future-color">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" style="clear:both">
        <% if signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light avatar" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true", style="padding-top: 10px;">
              <%= image_tag current_user.image, class: 'rounded-circle z-depth-0 img-fluid nav-user-img' %>
            </a>
            <div class="dropdown-menu dropdown-warning dropdown-menu-right login-dropdown" aria-labelledby="navbarDropdownMenuLink" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item waves-effect waves-light text-muted' do %>
                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;SignOut
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign-in', '#', class: 'nav-link future-color', id: 'loginLink', onclick: '$("#loginModal").modal();return false;' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="content">

  <%= yield %>

  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Sign-in to tweet markdown</h4>
        </div>
        <!--Body-->
        <div class="modal-body text-center">
          <%= link_to user_twitter_omniauth_authorize_path do %>
            <%= image_tag '/sign-in-with-twitter-gray.png' %>
          <% end %>
        </div>
        <!--Footer-->
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Modal -->


</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery-2.2.3.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'tether.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'mdb.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.toaster', 'data-turbolinks-track': 'reload' %>

<script type="application/javascript">
  var ISearch = ISearch || {};

  ISearch.setup = function (textfield, callback, options) {
    var timer = null, lastInput = '';

    wait = 500;
    minLength = 0;
    if (options !== undefined) {
      wait = options.wait;
      minLength = options.minLength;
    }

    textfield.on('keyup', function () {
      var input = $.trim($(this).val());
      if (lastInput !== input && input.length >= minLength) {
        clearTimeout(timer);
        timer = setTimeout(function () {
          callback(input);
        }, wait);
      }
      lastInput = input;
    });
  };

  var textfield = $('.ajax-body');

  ISearch.setup(textfield, function (input) {
    $.post("/parse",
      {md: $('.ajax-body').val()},
      function (data) {
        $('.ajax-parsed-body').html(data.body);
      }
    );
  });

  ISearch.setup(textfield, function (input) {
    // search
  }, {wait: 200, minLength: 3});

  $.toaster({
      settings: {
        'toast': {
          'template': '<div class="alert alert-%priority% alert-dismissible z-depth-3" role="alert">' +
          '<button type="button" class="close" data-dismiss="alert">' +
          '<span aria-hidden="true">&times;</span>' +
          '<span class="sr-only">Close</span>' +
          '</button>' +
          '<span class="message"></span>' +
          '</div>'
        },
        'timeout': 4000
      }
    }
  );

  <% flash.each do |msg_type, message| %>
  $.toaster({priority: '<%= msg_type_into_priority(msg_type) %>', message: '<%= message %>'});
  <% end %>

  <% if !signed_in? %>
  $('.markdown-here').on('click',
    function () {
      $("#loginModal").modal();
    }
  );

  var welcome_markdown = '\
## How to use\n\
1. please [sign-in](/users/sign_in) with your twitter account.\n\
\n\
1. write markdown.\n\
\n\
1. tweet it.\n\
\n\
##  How to write\n\
see [cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).\n\
\n\
## How to contact\n\
you can contact with [me](https://twitter.com/y_tsubuku).\n';

  $('#post_markdown').text(welcome_markdown);
  $.post("/parse",
    {md: $('.ajax-body').val()},
    function (data) {
      $('.ajax-parsed-body').html(data.body);
    }
  );

  <% end %>

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87389860-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
